<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QOBDWebServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bahilo-001-site2.ftempurl.com/webservice/server.php"
                binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
                contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>