<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--add name="QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;User Id=ava;Password=ava225!;Min Pool Size=50; Max Pool Size=100;Connection Timeout=200"
            providerName="System.Data.SqlClient" /-->
    <add name="QCBDDatabaseCEConnectionString"
        connectionString="Data Source=|DataDirectory|\QCBDDatabase.sdf"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QOBDWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
                  <security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          
            <!--<endpoint address="http://localhost/WebServiceSOAP/server.php"
                      binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
                      contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />-->
            
            <endpoint address="http://bahilo-001-site2.ftempurl.com/webservice/server.php"
                binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
                contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />
        </client>
    </system.serviceModel>
    <appSettings>

      <!-- Company information -->
      <add key="info_company_name" value="AVA"/>
      <add key="info_welcome_message" value="Welcome into AVA sofware."/>
      <add key="info_software_version" value="2.0.0.0"/>
      <add key="info_description" value="AVA accessories"/>
      <add key="info_all_right" value="All rights reserved"/>
      <add key="info_activation_code" value="000-000-000"/>

      <!-- Pages Titles -->
      <add key="title_catalogue" value="Catalogue Management"/>
      <add key="title_item_detail" value="Item Details"/>
      <add key="title_catalogue_provider" value="Providers Management"/>
      <add key="title_client" value="Clients Management"/>
      <add key="title_client_detail" value="Client Details"/>
      <add key="title_order" value="Orders Management"/>
      <add key="title_quote" value="Quotes Management"/>
      <add key="title_order_detail" value="Order Details"/>
      <add key="title_agent" value="Agents Management"/>
      <add key="title_agent_detail" value="Agent Details"/>
      <add key="title_notification" value="Notifications Management"/>
      <add key="title_settings" value="Settings Management"/>
      <add key="title_setting_general" value="General setting management"/>
      <add key="title_setting_security" value="Security Settings Management"/>
      <add key="title_setting_email" value="Email Settings Management"/>
      <add key="title_setting_display" value="Display Settings Management"/>

      <!-- messages -->
      <add key="search_message" value="Search in Progress..."/>
      <add key="close_message" value="Closing..."/>
      <add key="update_message" value="Update in Progress..."/>
      <add key="create_message" value="Creation in Progress..."/>
      <add key="delete_message" value="Deletion in Progress..."/>
      <add key="wait_message" value="Please wait while we are dealing with your request..."/>
      <add key="load_message" value="Loading..."/>

      <!-- Prefix -->
      <add key="length_prefix" value="6"/>
      <add key="order_prefix" value="ORD310"/>
      <add key="invoice_prefix" value="INV310"/>
      <add key="client_prefix" value="CL4100"/>
      <add key="delivery_prefix" value="DEL310"/>
      <add key="item_prefix" value="CAT310"/>

      <!-- Pictures -->
      <add key="image_size_width" value="150"/>
      <add key="image_size_height" value="175"/>

      <!-- Loading -->
      <add key="load_size" value="200"/>
      <add key="progress_step" value="7"/>

      <!-- Web service localhost 192.168.0.12-->
      <!--<add key="remote_host" value="http://localhost/WebServiceSOAP/index.php?"/>-->
      <add key="remote_host" value="http://bahilo-001-site2.ftempurl.com/webservice/index.php?"/>
      <add key="remote_doc_lib_folder" value="Lib"/>
      <add key="remote_doc_lib_pdf_folder" value="Lib-fpdf-bin"/>

      <!-- Ftp localhost 192.168.0.254:14147-->
      <add key="ftp" value="ftp://ftp.smarterasp.net/"/>
      <add key="ftp_image_folder" value="QOBD/webservice/Images/"/>
      <add key="ftp_profile_image_folder" value="QOBD/webservice/Images/profile/"/>
      <add key="ftp_catalogue_image_folder" value="QOBD/webservice/Images/catalogue/"/>
      <add key="ftp_doc_base_folder" value="QOBD/webservice/Files/"/>
      <add key="ftp_doc_text_folder" value="QOBD/webservice/Files/texts/"/>
      <add key="ftp_doc_mail_folder" value="QOBD/webservice/Files/mails/"/>
    
      <!-- Currency remote rate-->
      <add key="yahoo_currency" value="http://finance.yahoo.com/d/quotes.csv"/>

      <!-- Local -->
      <add key="local_image_folder" value="Docs/images/"/>
      <add key="local_profile_image_folder" value="Docs/images/profile/"/>
      <add key="local_catalogue_image_folder" value="Docs/images/catalogue/"/>
      <add key="local_doc_base_folder" value="Docs/files/"/>
      <add key="local_doc_text_folder" value="Docs/files/texts/"/>
      <add key="local_doc_mail_folder" value="Docs/files/mails/"/>
      <add key="local_doc_task_folder" value="Docs/files/tasks/"/>
      <add key="local_tmp_folder" value="Tmp/"/>

    </appSettings>
</configuration>